.home-page .form label{
  display: block;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  width: 250px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.or {
  margin: 20px 0;
  color: gray;
}

.create-room-btn {
  background-color: green;
}

